
html, body {
  padding-top: 10px;
  max-width: 170px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.text-center {
  text-align: center;
}
.table-text {
  font-size: 9px;
}
.total {
  font-size: 14px;
}
.font-bold {
  font-weight: bold;
}

.text-2xl {
  font-size: 2rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.text-xl {
  font-size: 1.5rem;
}

.flex {
  display: flex;
}

.w-1-2 {
  width: 50%;
}
.w-2-12 {
  width: 16.666667%;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}

.w-4-12 {
  width: 33.33%;
}
.w-5-12 {
  width: 41.666667%;
}
.w-1-12 {
  width: 8.333333%;
}

.px-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.border-1px {
  border-width: 1px;
  border-style: dashed;
}
.border-b-2px {
  border-bottom: 1px dashed black;
}

.text-right {
  text-align: right;
}

.w-5-6 {
  width: 83.33%;
}

.h-2px {
  height: 2px;
}

.bg-black {
  background-color: #000;
}

.pt-1 {
  padding-top: 0.25rem;
}

.justify-center {
  justify-content: center;
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.flex-0 {
  flex-shrink: 0;
  flex-grow: 0;
}